doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel="stylesheet", href="/css/style.css")
    title= title || 'Luke Clark'
  body
    .container
      .third 1/3
      .third 1/3
      .third 1/3
    //- script(src='/js/application.js')
